extends ../layout

block content
  div(class="page-header")
    a(href="/herbs/new" class="btn btn-success pull-right") Add Herb
    h1 Check out my herbs!

  table(class="table")
    thead
      th Herb name
      th Ounces requested
      th In Stock?
      th
    tbody
      each herb in herbs
        tr
          td
            a(href="/herbs/#{herb.id}")= herb.name
          td= herb.oz
          td= herb.instock
          td
            a(href="/herbs/#{herb.id}/edit" class="btn btn-warning") Edit
