extends ../layout

block content
  h1(class="page-header") New Herb

  ol(class="breadcrumb")
    li
      a(href="/herbs") My Herbs
    li(class="active") New

  form(action='/herbs' method='post' class='form-horizontal')

    div(class='form-group')
      label(class="col-sm-2 control-label") Name
      div(class='col-sm-4')
        input(type="text" name="herb[name]" class='form-control')

    div(class="form-group")
      label(class="col-sm-2 control-label") Ounces needed
      div(class="col-sm-4")
        input(type='number' name='herb[oz]' class="form-control")

    div(class="form-group")
      div(class="col-sm-offset-2 col-sm-4")
        div(class="checkbox")
        label Do you have this herb in stock?
          input(type='checkbox' name='herb[inStock]' class="form-control")

    div(class="form-group")
      div(class="col-sm-offset-2 col-sm-4")
        input(type='submit' name='commit' value='Add this herb' class="btn btn-success")
